<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @created_user.name %>
</p>

<%= link_to 'Edit', edit_created_user_path(@created_user) %> |
<%= link_to 'Back', created_users_path %>
